@page "/counter"



<style>
        body{
             background:url("../img/1.jpg");
        }</style>

<h1 class="text-center text-black">Узнай свое предсказание на день!</h1>

<h2 class="text-center text-black-50">@Prediction</h2>



<div>
<button class="btn btn-primary" @onclick="random">Получить</button>

</div>

@code{

    Random rnd = new Random();
    string[] str = { "Сегодня тебя ждет успешный день, полный ярких эмоций.", "Не отвергайте помощь, используйте любые шансы.","Вы стоите на пороге перемен.","Возьмите всё в свои руки. Сделайте решающий шаг в отношениях.","Вам стоит довериться своей интуиции." };
    string Prediction = "";
    public void random()
    {
        Prediction = str[rnd.Next(0, str.Length)];
    }
    
}