@page "/"
@inject Blazored.SessionStorage.ISessionStorageService sessionStorage
<section>
     <style>
        body{
             background:url("../img/feuille-main-verte.jpg");
        }</style>

<h2 class="text-white text-center text-monospace">Welcome to your new app.</h2>

<h2 class="text-center text-white-50 mt-4 text-monospace">Приведи свои дела в порядок с нашим приложением.</h2>
        <button class="btn btn-danger text-center">Login</button>
        <button class="btn btn-dark">Register</button>
</section>

