
@page "/TodoCalendar"

<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<link rel="stylesheet" href="~/css/site.css">

<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<script src="~/js/site.js"></script>

<!------ Include the above in your HEAD tag ---------->

<!DOCTYPE html>
<html>

<head>
  <script>
    $(document).ready(function() {
      var date = new Date();
      var d = date.getDate();
      var m = date.getMonth();
      var y = date.getFullYear();

      $('#external-events div.external-event').each(function() {

        var eventObject = {
          title: $.trim($(this).text()) 
        };

        $(this).data('eventObject', eventObject);

        $(this).draggable({
          zIndex: 999,
          revert: true, 
          revertDuration: 0 
        });
      });

      var calendar = $('#calendar').fullCalendar({
        header: {
          left: 'title',
          center: 'agendaDay,agendaWeek,month',
          right: 'prev,next today'
        },
        editable: true,
        firstDay: 0, 
        selectable: true,
        defaultView: 'month',
        axisFormat: 'h:mm',
        columnFormat: {
          month: 'ddd', 
          week: 'ddd d', 
          day: 'dddd M/d', 
          agendaDay: 'dddd d'
        },
        titleFormat: {
          month: 'MMMM yyyy', 
          week: "MMMM yyyy", 
          day: 'MMMM yyyy' 
        },
        allDaySlot: false,
        selectHelper: true,
        select: function(start, end, allDay) {
          var title = prompt('Описание события:');
          if (title) {
            calendar.fullCalendar('renderEvent', {
                title: title,
                start: start,
                end: end,
                allDay: allDay
              },
              true 
            );
          }
          calendar.fullCalendar('unselect');
        },
        droppable: true, 
        drop: function(date, allDay) { 

          var originalEventObject = $(this).data('eventObject');

          var copiedEventObject = $.extend({}, originalEventObject);

          copiedEventObject.start = date;
          copiedEventObject.allDay = allDay;

          $('#calendar').fullCalendar('renderEvent', copiedEventObject, true);

          if ($('#drop-remove').is(':checked')) {

            $(this).remove();
          }
        }
       
      });
    });
  </script>
  <style>
    body {
      background:url("../img/32.jpg");
      margin-bottom: 40px;
      margin-top: 40px;
      text-align: center;
      font-size: 14px;
      font-family: "Open Sans", sans-serif;
    }

    #wrap {
      width: 1100px;
      margin: 20px auto;
    }

    #external-events {
      float: left;
      width: 150px;
      padding: 0 10px;
      text-align: left;
    }

    #external-events h4 {
      font-size: 16px;
      margin-top: 0;
      padding-top: 1em;
    }

    .external-event {

      margin: 10px 0;
      padding: 2px 4px;
      background: #3366CC;
      color: #fff;
      font-size: .85em;
      cursor: pointer;
    }

    #external-events p {
      margin: 1.5em 0;
      font-size: 11px;
      color: #666;
    }

    #external-events p input {
      margin: 0;
      vertical-align: middle;
    }

    #calendar {

      margin: 0 auto;
      width: 900px;
      background-color: #FFFFFF;
      border-radius: 6px;
      box-shadow: 0 1px 2px #C3C3C3;
      -webkit-box-shadow: 0px 0px 21px 2px rgba(0, 0, 0, 0.18);
      -moz-box-shadow: 0px 0px 21px 2px rgba(0, 0, 0, 0.18);
      box-shadow: 0px 0px 21px 2px rgba(0, 0, 0, 0.18);
    }
  </style>
</head>

<body>
 <form action="https://localhost:44327">
 <button class="btn btn-primary" type="submit">Назад</button>
  <div class="mt-5" id='wrap'>

    <div id='calendar'></div>

    <div style='clear:both'></div>
  </div>
</body>

</html>